doctype html
head
 link(rel="icon", href="/images/favicon.ico")
 style.
  body { 
    margin: 0;  
    padding: 0;  
    background-color:#6abadeba;
    background-image: url("/images/background.jpeg");  
    font-family: 'Arial';  
  } 
  table, th, td {
  border:1px solid black;
  }
h1.text-center.top-buffer Access Management Platform 
h1 List of Employees
table(style='width:100%')
  tr
    th Provider Name
    th Contact Person
    th Employee Name
    th External person
    th Daily rate
    th Note 
    th Date Until
    th Documents
     each n in user
        tr
          td= n.provider_name
          td= n.contactperson 
          td= n.employee_name 
          td= n.externalperson 
          td= n.rate  
          td= n.notes 
          td=n.dateuntil
          td= n.document



         
        
    
    