doctype html
head
 link(rel="icon", href="/images/favicon.ico")
 style.
  body { 
    margin: 0;  
    padding: 0;  
    background-color:#6abadeba;
    font-family: 'Arial';  
  } 
  h1,h2,{
    text-align:center;

    }
  table, th, td {
  border:1px solid blue;
  }

body
  block content
  script(src='http://code.jquery.com/jquery-3.3.1.min.js')
  script(src='/javascripts/app.js')
h1 Access Management Platform 
h2 Agreement

table#agreementtable(style='width:100%')
  tr
    th ID
    th Agreement Name
    th Type 
    th Status
    th Daily rate Indication 
    th Cycle
    th StartTime 
    th EndTime 
    th Location 
    th agreementstatus
    th Accept/Reject

  each user in users
    tr
    td #{user.offerid}
    td #{user.name}
    td #{user.type}
    td #{user.status}
    td #{user.dailyrateindication}
    td #{user.cycle}
    td #{user.startTime}
    td #{user.endTime}
    td #{user.location}
    td #{user.agreementstatus}
    td 
     button#acceptagreements.btn.btn-primary(type='button' offerid=`${user.offerid}` name=`${user.name}` agreementtype=`${user.type}` status=`${user.status}` dailyrateindication =`${user.dailyrateindication}` cycle =`${user.cycle}` startTime =`${user.startTime}` endTime =`${user.endTime}` location =`${user.location}` agreementstatus =`${"Accepted"}`) Accept
     button#rejectagreements.btn.btn-primary(type='button' offerid=`${user.offerid}` name=`${user.name}` agreementtype=`${user.type}` status=`${user.status}` dailyrateindication =`${user.dailyrateindication}` cycle =`${user.cycle}` startTime =`${user.startTime}` endTime =`${user.endTime}` location =`${user.location}` agreementstatus =`${"Rejected"}`) Reject


    