doctype html
head
 link(rel="icon", href="/images/favicon.ico")
 style.
  body { 
    margin: 0;  
    padding: 0;  
    background-color:#6abadeba;
    font-family: 'Arial';  
  } 
  table, th, td {
  border:1px solid blue;
  }
h1.text-center.top-buffer Access Management Platform   
h1.text-center.top-buffer #{title}
table(style='width:100%')
  tr
    th position ID
    th agreements ID
    th agreements Name
    th Name 
    th Role
    th ADD
  each detail in details
    tr
    td #{detail.positionid}
    td #{detail.agreementid}
    td #{detail.agreementName}
    td #{detail.positionname}
    td 
     img(src=detail.type alt='login' style='width:100px; height:100px;')
    td
     li
      a(href=`/users/offerEmployee?positionid=${detail.positionid}&agreementsid=${detail.agreementid}&agreementName=${detail.agreementName}`) offerEmployee